VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=memorial-cloud-5da8e
VITE_FIREBASE_STORAGE_BUCKET=memorial-cloud-5da8e.firebasestorage.app
VITE_FIREBASE_APP_ID=1:803737147409:web:88f8d61e609f75b58f79b0
VITE_FIREBASE_DATABASE_ID=memorialcloud
VITE_PLAYER_APP_VERSION=1.0.0
